<div class="row">
    <div class="col-md-3 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Login</h4>
                <form [formGroup]="loginForm"  (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName = "email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName = "password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </form>

                <div class="form-group mt-3">
                    <p> New to ToDo App? <a [routerLink] = "['/register']">Create Account</a></p>
                </div>

            </div>
        </div>
    </div>
</div>
