<div class="row" style="padding-bottom: 1%;">
  <div class="col-lg-2 offset-lg-2">
    <button class="btn btn-sm btn-primary btn-block" (click)="addTask()">+ Add Task</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group full-width" style="padding-bottom: 1%;">
          <input #myInput type="text" class="form-control" placeholder="Search" id="txtSearch" (input)="filterItem(myInput.value)" />
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div> 
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        
        <a style="border-bottom:double;" *ngFor="let taskitem of taskCollectionFiltered" class="list-group-item list-group-item-action flex-column align-items-start">
          <div>
            <span class="badge badge-pill badge-primary">{{taskitem.listName}}</span>
          </div>
          <br>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{taskitem.description}}</h5>
          </div>
          <br>
          <p class="mb-1">{{taskitem.notes}}</p>
          <br>
          <span style="padding-right: 2%;" [hidden]="!taskitem.bDueDate" class="fa fa-hourglass-end" title="Due Today" data-toggle="tooltip" data-placement="top" ></span>
          <span style="padding-right: 2%;" [hidden]="!taskitem.isCompleted" class="fa fa-check" title="Completed" data-toggle="tooltip" data-placement="top" tooltip ></span>
          <span style="padding-right: 2%;" [hidden]="!taskitem.isImportant" class="fa fa-exclamation" title="Important" data-toggle="tooltip" data-placement="top" tooltip ></span>
          <span style="padding-right: 2%;" [hidden]="!taskitem.bMyDayDate" class="fa fa-star" title="My Day" data-toggle="tooltip" data-placement="top" tooltip ></span>
          <span style="padding-right: 2%;" [hidden]="taskitem.remindDate != null || taskitem.remindDate != undefined " class="fa fa-bell" title="Reminder" data-toggle="tooltip" data-placement="top" tooltip ></span>
        </a>
        
      </div>
    </div>
    </div>

  

  </div>
    

</div>