<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group full-width" style="padding-bottom: 1%;">
          <input #myInput type="text" class="form-control" placeholder="Search" id="txtSearch" (input)="filterItem(myInput.value)" />
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div> 
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        
        <a *ngFor="let taskitem of taskCollectionFiltered" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div>
            <span class="badge badge-pill badge-primary">{{taskitem.name}}</span>
            <button  style="float: right;" class="btn btn-primary btn-sm"> <i class="fa fa-edit"></i> Edit</button>
          </div>
          <br>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{taskitem.description}}</h5>
            
          </div>
          <br>
          <p class="mb-1">{{taskitem.notes}}</p>
          <br>
          <span style="cursor:pointer; padding-right: 2%;" class="fa fa-hourglass-end" title="Due Today" data-toggle="tooltip" data-placement="top" ></span>
          <span style="cursor:pointer; padding-right: 2%;" class="fa fa-check" title="Completed" data-toggle="tooltip" data-placement="top" tooltip ></span>
          <span style="cursor:pointer; padding-right: 2%;" class="fa fa-exclamation" title="Important" data-toggle="tooltip" data-placement="top" tooltip ></span>
          <span style="cursor:pointer; padding-right: 2%;" class="fa fa-star" title="My Day" data-toggle="tooltip" data-placement="top" tooltip ></span>
          <span style="cursor:pointer; padding-right: 2%;" class="fa fa-bell" title="Reminder" data-toggle="tooltip" data-placement="top" tooltip ></span>
        </a>
        
      </div>
    </div>
    </div>

  

  </div>
    

</div>