<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Hello!</h1>
            <p class="lead">This is a simple to do app made for a challenge</p>
            <hr class="my-4">
            <p>This has been built using Angular 9, Firebase, SQL Server Database in Azure and .Net Core 3.1 / C#</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Task Completed</div>
            <div class="card-body">
              <h4 class="card-title text-center">9</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Planned for Today</div>
            <div class="card-body">
              <h4 class="card-title text-center">8</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">Important Task</div>
            <div class="card-body">
              <h4 class="card-title text-center">20</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>