
<div class="row">
  <div class="col-lg-2 offset-lg-2">
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header text-center">Task Completed</div>
        <div class="card-body">
          <h4 class="card-title text-center">9</h4>
        </div>
    </div>
</div>
<div class="col-lg-2">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header text-center">Planned for Today</div>
        <div class="card-body">
          <h4 class="card-title text-center">8</h4>
        </div>
      </div>
</div>
<div class="col-lg-2">
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-header text-center">Important Task</div>
        <div class="card-body">
          <h4 class="card-title text-center">20</h4>
        </div>
      </div>
</div>
<div class="col-lg-2">
  <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Due Today</div>
      <div class="card-body">
        <h4 class="card-title text-center">3</h4>
      </div>
    </div>
</div>
</div>

<div class="row" style="padding-bottom: 1%;">
  <div class="col-lg-8 offset-lg-2">
    <button class="btn btn-sm btn-primary">+ Add List</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        
        <a *ngFor="let listitem of (list | async)" href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
          
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{listitem.name}}</h5>
            
          </div>
          <br>
          <p class="mb-1">{{listitem.description}}</p>
          <br>
        </a>
        
      </div>
    </div>
    </div>

  

  </div>
</div>

