<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Task Completed</div>
            <div class="card-body">
              <h4 class="card-title text-center">9</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Planned for Today</div>
            <div class="card-body">
              <h4 class="card-title text-center">8</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">Important Task</div>
            <div class="card-body">
              <h4 class="card-title text-center">20</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Personal
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Work
              <span class="badge badge-primary badge-pill">2</span>
            </li>
        </ul>
    </div>

    <div class="col-lg-8">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Personal
              <button class="btn btn-primary btn-sm">Success</button>
              <span class="badge badge-pill badge-success">Success</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Work
              <span class="badge badge-primary badge-pill">2</span>
            </li>
        </ul>
    </div>

</div>

